<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:component-scan base-package="org.w01f.dds.service"/>

    <bean id="testDataDS" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="org.sqlite.JDBC" />
        <property name="url" value="jdbc:sqlite:db/testsqlitedb.sqlitedb" />
    </bean>
    <bean id="testIndexDS" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="org.sqlite.JDBC" />
        <property name="url" value="jdbc:sqlite:db/indexdb.sqlitedb" />
    </bean>

    <bean id="dataAccess" class="org.w01f.dds.layer4.data.DataAccess">
        <property name="dataSourceProxy" >
            <bean class="org.w01f.dds.layer5.DataSourceProxy">
                <property name="dsMap">
                    <map>
                        <entry key="0" value-ref="testDataDS" />
                    </map>
                </property>
            </bean>
        </property>
    </bean>
    <bean id="indexAccess" class="org.w01f.dds.layer4.index.IndexAccess">
        <property name="dataSourceProxy" >
            <bean class="org.w01f.dds.layer5.DataSourceProxy">
                <property name="dsMap">
                    <map>
                        <entry key="0" value-ref="testIndexDS" />
                    </map>
                </property>
            </bean>
        </property>
    </bean>
    <bean id="sqlHandler" class="org.w01f.dds.layer2.sql.SqlHandler">
        <property name="indexAccess" ref="indexAccess"/>
        <property name="dataAccess" ref="dataAccess" />
    </bean>
    <bean id="dataSource" class="org.w01f.dds.layer1.dsproxy.DistributedDataSource">
        <property name="sqlHandler" ref="sqlHandler"/>
    </bean>

    <bean class="org.springframework.jdbc.core.JdbcTemplate" id="jdbcTemplate">
        <property name="dataSource" ref="dataSource"></property>
    </bean>
    <bean class="org.springframework.jdbc.datasource.DataSourceTransactionManager" id="tm">
        <property name="dataSource" ref="dataSource"></property>
    </bean>
    <tx:advice id="advice" transaction-manager="tm">
        <tx:attributes>
            <tx:method name="*" propagation="REQUIRED"/>
        </tx:attributes>
    </tx:advice>
    <aop:config>
        <aop:pointcut expression="execution(* org.w01f.dds.service.biz..*.*(..))" id="pointcut"/>
        <aop:advisor advice-ref="advice" pointcut-ref="pointcut"/>
    </aop:config>
</beans>
